torch==1.10.2
torchvision==0.11.3
torchaudio
pytorch-lightning==1.5.10
git+https://github.com/huggingface/transformers
sentencepiece
tokenizers==0.11.6
pandas==1.4.1
numpy==1.22.2
datasets==1.18.3
nltk==3.7
rouge_score
psutil
py3nvml
snowballstemmer
TurkishStemmer
"fastapi[all]"
