torch
torchvision
torchaudio
pytorch-lightning
git+https://github.com/huggingface/transformers
sentencepiece
tokenizers
pandas
numpy
datasets
nltk
rouge_score
psutil
py3nvml
snowballstemmer
TurkishStemmer